<h1>Recipes List</h1>
<div class="alert alert-success" *ngIf="message">{{message}}</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Recipe Link</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of recipes">
        <td>{{recipe.name}}</td>
        <td>
          <button class="btn btn-success">
            <a href="{{displayRecipe(recipe.id)}}" class="href">Link</a>
          </button>
        </td>
        <td><button (click)="updateRecipe(recipe.id)" class="btn btn-success">Update</button></td>
        <td><button (click)="deleteRecipe(recipe.id, recipe.name)" class="btn btn-success">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <button (click)="addRecipe" class="btn btn-success">Add</button>
  </div>
</div>
