@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&display=swap');

h1 {
    font-family: 'Bodoni Moda';
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Bodoni Moda';
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul{
    list-style-type: none;
}

.ingred{
    margin-left: 20px;
}

.step{
    margin-right: 5px;
}